/* Allgemeine Styles */
* {
  font-family: "Meslo LG M Nerd Font", monospace;
  color: #cdd6f4;
  background-color: #1e1e2e;
  margin: 3px;
  padding: 0;
}

/* Abstand zwischen den Modulen */
#waybar {
  margin: 3px;
  padding: 5px 20px;  /* Abstand zu den Rändern oben und unten, links und rechts */
  border: 3px solid #595959; /* 3px dicker Rahmen in Flamingo-Farbe */
}

#workspaces button,
#cpu,
#memory,
#battery,
#network,
#temperature,
#tray > .button {
  margin: 0 10px;  /* Horizontaler Abstand zwischen den Modulen */
  padding: 5px 10px;  /* Vertikaler Abstand in den einzelnen Modulen */
  border-radius: 5px;
}

/* Arbeiten mit den Schaltflächen in den Workspaces */
#workspaces button {
  background-color: #313244;
  color: #cdd6f4;
  border-radius: 5px;
}

#workspaces button.focused {
  background-color: #89b4fa;
  color: #1e1e2e;
}

/* Das allgemeine Aussehen von Module wie CPU, RAM, Batteriestatus */
#clock, #cpu, #memory, #battery, #network {
  padding: 0 10px;
  margin: 0 5px;
}

#clock {
  color: #a6e3a1;
  font-weight: bold;
}

#battery {
  color: #fab387;
}

#network {
  color: #94e2d5;
}

#cpu {
  color: #f38ba8;
}

#memory {
  color: #cba6f7;
}

#temperature {
  color: #eba0ac;
}

/* Tray-Buttons */
#tray > .button {
  margin: 0 10px;
  padding: 5px;
}

#tray > .button:hover {
  background-color: #45475a;
}

/* Hover-Effekte */
button:hover {
  background-color: #45475a;
}

/* Separator */
.separator {
  background-color: #313244;
  margin: 0 10px;  /* Horizontaler Abstand */
  border-radius: 1px;
}

